<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Nosotros - O N C E Horno & Bar</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/logo2.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets/css/responsive.css">

</head>



<body>
	<!-- header -->
	<%- include('../components/header') %>
		<!-- end header -->

		<!-- breadcrumb-section -->
		<div class="breadcrumb-section breadcrumb-bg" style="background-image: url('assets/img/bg.jpg');">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<p></p>
							<h1>SOBRE NOSOTROS</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb section -->

		<!-- featured section -->
		<div class="feature-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="featured-text">
							<h2 class="pb-3"> Nuestra <span class="orange-text">Misi칩n</span></h2>
							<div class="row">
								<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
									<div class="section-title">
										<p>Restaurante-bar Italo-Argentino al horno, en la ciudad de Uruapan que se
											diferencie por la calidad e innovaci칩n en sus servicios, con una propuesta
											de productos que se distinga del mercado actual, con instalaciones de un
											estilo moderno que cree una experiencia inolvidable en el consumidor.</p>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								</div>
								<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
									<h3 class="orange-text">Ubicaci칩n</h3>
									<div class="section-title">
										<p><i class="fa fa-map-marker-alt mr-2"></i>Av. Latinoamericana 11-A, <br>
											Huertas del Cupatitzio, 60080 <br> Uruapan, Mich.</p>
										<br>
										<p><i class="fa fa-phone-volume mr-2"></i>452 688 2108</p>
									</div>

								</div>

								<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
									<h3 class="orange-text">Horario</h3>
									<div class="section-title">
										<h6>Martes a S치bado</h6>
										<p> <i class="far fa-clock"></i>1:00 PM - 10:00 PM</p>
										<br>
										<h6>Domingo</h6>
										<p><i class="far fa-clock"></i>1:00 PM - 7.00 PM</p>
									</div>

								</div>



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end featured section -->

</body>

<!-- footer -->
<%- include('../components/footer') %>
	<!-- end footer -->

	<!-- jquery -->
	<script src="assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="assets/js/main.js"></script>

</html>