<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Facturar - O N C E Horno & Bar</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="assets/img/logo2.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>
<style>
    .contact-form input[type="submit"] {
        font-size: 1rem;
        /* Tamaño de la fuente del botón */
    }

    .contact-form input[type="submit"]:hover {
        background-color: #000000;
        /* Color de fondo del botón al pasar el cursor */
    }

    .custom-file-upload {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .custom-file-upload input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-upload .custom-file-label {
        display: inline-block;
        width: 100%;
        padding: 0.5rem;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        text-align: center;
        cursor: pointer;
    }

    .custom-file-upload:hover .custom-file-label {
        background-color: #f28123;
    }
</style>

<!-- #f28123 -->

<body>


    <!-- header -->
    <%- include('../components/header') %>

        <!-- breadcrumb-section -->
        <div class="breadcrumb-section breadcrumb-bg" style="background-image: url('assets/img/bg.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <p></p>
                            <h1>Facturación</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end breadcrumb section -->


        <!-- Contact Start -->
        <div class="container-fluid pt-5">
            <div class="container">
                <div class="section-title">
                    <h2 class="pb-3">¡Envianos tus datos para realizar la factura de tu consumo!</h2>
                </div>

                <div class="row">
                    <div class="col-md-6 pb-5">
                        <img src="assets/img/facturar.jpg" alt="" width="500px">
                    </div>
                    <div class="col-md-6 pb-5">
                        <div class="contact-form">
                            <div id="success"></div>
                            <form action="/facturar" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-transparent p-4" name="rfc"
                                        placeholder="RFC" required="required"
                                        data-validation-required-message="Por favor escribe el RFC" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control bg-transparent p-4" name="nombreReceptor"
                                        placeholder="Nombre del Receptor" required="required"
                                        data-validation-required-message="Por favor escribe el nombre del receptor" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control bg-transparent p-4" name="regimenFiscal"
                                        placeholder="Régimen Fiscal" required="required"
                                        data-validation-required-message="Por favor escribe el Régimen Fiscal" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control bg-transparent p-4" name="usoCFDI"
                                        placeholder="Uso de CFDI" required="required"
                                        data-validation-required-message="Por favor escribe el uso de CFDI" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control bg-transparent p-4" name="codigoPostal"
                                        placeholder="Código Postal" required="required"
                                        data-validation-required-message="Por favor escribe el Código Postal" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control bg-transparent p-4" name="email"
                                        placeholder="Correo Electrónico" required="required"
                                        data-validation-required-message="Por favor escriba el Correo Electrónico" />
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group">
                                    <label for="" class="bg-transparent">Archivo PDF de RFC</label>
                                    <div class="custom-file-upload">
                                        <input type="file" id="pdfRFC" name="pdfRFC" accept=".pdf" />
                                        <label for="pdfRFC" class="custom-file-label">Seleccionar archivo</label>
                                    </div>
                                    <p class="help-block text-danger"></p>
                                </div>

                                <br>
                                
                                <div class="form-group">
                                    <label for="" class="bg-transparent">Archivo del ticket del consumo (IMG o PDF)</label>
                                    <div class="custom-file-upload">
                                        <input type="file" id="ticketFoto" name="ticketFoto" />
                                        <label for="ticketFoto" class="custom-file-label">Seleccionar archivo</label>
                                    </div>
                                    <p class="help-block text-danger"></p>
                                </div>


                                <br>
                                <div class="contact-form" style="text-align: center;">
                                    <p><input class="" type="submit" value="Enviar"></p>
                                </div>

                        </div>
                        </form>



                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Contact End -->


        <!-- footer -->
        <%- include('../components/footer') %>
            <!-- end footer -->

            <!-- jquery -->
            <script src="assets/js/jquery-1.11.3.min.js"></script>
            <!-- bootstrap -->
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <!-- count down -->
            <script src="assets/js/jquery.countdown.js"></script>
            <!-- isotope -->
            <script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
            <!-- waypoints -->
            <script src="assets/js/waypoints.js"></script>
            <!-- owl carousel -->
            <script src="assets/js/owl.carousel.min.js"></script>
            <!-- magnific popup -->
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <!-- mean menu -->
            <script src="assets/js/jquery.meanmenu.min.js"></script>
            <!-- sticker js -->
            <script src="assets/js/sticker.js"></script>
            <!-- main js -->
            <script src="assets/js/main.js"></script>


            <<script>
                document.addEventListener('DOMContentLoaded', function() {
                const pdfRFCInput = document.getElementById('pdfRFC');
                const pdfRFCLabel = document.querySelector('label[for="pdfRFC"]');

                const ticketFotoInput = document.getElementById('ticketFoto');
                const ticketFotoLabel = document.querySelector('label[for="ticketFoto"]');

                pdfRFCInput.addEventListener('change', function() {
                if (this.files.length > 0) {
                pdfRFCLabel.textContent = this.files[0].name;
                } else {
                pdfRFCLabel.textContent = 'Seleccionar archivo';
                }
                });

                ticketFotoInput.addEventListener('change', function() {
                if (this.files.length > 0) {
                ticketFotoLabel.textContent = this.files[0].name;
                } else {
                ticketFotoLabel.textContent = 'Seleccionar archivo';
                }
                });
                });
                </script>


</html>